@import './base.css';


/********************* Colour reference chart****************
*************************** comment ********* colour ********

Hex Codes: #ffc09f // #ffee93 // #fcf5c7 // #a0ced9 // #adf7b6



*/
html{
  background: linear-gradient(180deg,var(--p-blue)70%,var(--p-cadetBlue))50%;
  min-height: 100%;
}


:root {
  --p-red: #ffc09f;
  --p-yellow: #ffee93;
  --p-beige: #fcf5c7;
  --p-blue: #a0ced9;
  --p-green: #adf7b6;
  --p-offWhite:#f2f2ed;
  --p-cadetBlue:#5F9EA0;
}

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}


.text-box {
  display: flex;
  text-align: center;
  justify-content: center;
  border: 1px solid #ddd;
  background-color: var(--p-offWhite);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
}

.text-box:hover{
  transform: scale(1.01);
  transition: transform 0.2s;
}

.nav-button {
  text-align: center;
  padding: 20px;
  background-color: var(--p-beige);
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
::-webkit-scrollbar{
  width:1.5em;
}
::-webkit-scrollbar-track{
  background: var(--p-offWhite);
  border-radius: 100vw;
  margin-block: .3em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
::-webkit-scrollbar-thumb{
  background: lightgray;
  border-radius: 100vw;
  border: .25em solid var(--p-offWhite);

}
::-webkit-scrollbar-thumb:hover{
  background: #aaa;
}


.nav-button:hover {
  transform: scale(1.03);
  background-color: var(--p-yellow);
  transition: transform 0.2s;
  cursor: pointer;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Make the link fill the button */
  height: 100%; /* Make the link fill the button */
  text-decoration: none; /* Remove underline */
  color: BLACK; /* Set text color */

}

.lang-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 1rem;
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow: hidden;
  top: 0;
  left: 0;
}

.bubble {
  position: absolute;
  bottom: -10vh; 
  background: var(--p-offWhite); 
  border-radius: 50%;
  opacity: 0.5;
  animation: rise 30s infinite ease-in-out;
  z-index: -10;
  filter: blur(10px);
}

.bubble:nth-child(1) {
  width: 2vw;
  height: 2vw;
  left: 10%;
  animation-duration: 30s;
  animation-delay: 0s;
}

.bubble:nth-child(2) {
  width: 1.5vw;
  height: 1.5vw;
  left: 20%;
  animation-duration: 20s;
  animation-delay: 5s;
}

.bubble:nth-child(3) {
  width: 3vw;
  height: 3vw;
  left: 35%;
  animation-duration: 35s;
  animation-delay: 10s;
}

.bubble:nth-child(4) {
  width: 2.5vw;
  height: 2.5vw;
  left: 50%;
  animation-duration: 40s;
  animation-delay: 15s;
}

.bubble:nth-child(5) {
  width: 1.8vw;
  height: 1.8vw;
  left: 55%;
  animation-duration: 25s;
  animation-delay: 7s;
}

.bubble:nth-child(6) {
  width: 2vw;
  height: 2vw;
  left: 65%;
  animation-duration: 18s;
  animation-delay: 3s;
}

.bubble:nth-child(7) {
  width: 2.8vw;
  height: 2.8vw;
  left: 70%;
  animation-duration: 50s;
  animation-delay: 20s;
}

.bubble:nth-child(8) {
  width: 1.7vw;
  height: 1.7vw;
  left: 80%;
  animation-duration: 16s;
  animation-delay: 2s;
}

.bubble:nth-child(9) {
  width: 1.5vw;
  height: 1.5vw;
  left: 70%;
  animation-duration: 10s;
  animation-delay: 1s;
}

.bubble:nth-child(10) {
  width: 3vw;
  height: 3vw;
  left: 25%;
  animation-duration: 50s;
}

.bubble:nth-child(11) {
  width: 2.2vw;
  height: 2.2vw;
  left: 0%;
  animation-duration: 25s;
  animation-delay: 8s;
}

.bubble:nth-child(12) {
  width: 2.5vw;
  height: 2.5vw;
  left: 80%;
  animation-duration: 32s;
  animation-delay: 6s;
}

.bubble:nth-child(13) {
  width: 2.7vw;
  height: 2.7vw;
  left: 0%;
  animation-duration: 40s;
  animation-delay: 10s;
}

.bubble:nth-child(14) {

}

.bubble:nth-child(15) {
  
}

.spinner {
  margin: 10px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 15px;
  height: 15px;
  background-color: #000000;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.8s infinite ease-in-out both;
  animation: sk-bouncedelay 1.8s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.40s;
  animation-delay: -0.40s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.20s;
  animation-delay: -0.20s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@keyframes rise {
  0% {
    bottom: -10vh; 
    transform: translateX(0);
  }
  50% {
    transform: translateX(5vw);
  }
  100% {
    bottom: 120vh; 
    transform: translateX(-10vw);
  }
}

@media (max-width: 768px) {
  .nav-button {
    padding: 10px;
  }

  .bubble {
    opacity: 0.8;
    filter: blur(5px);
  }
}