@import './base.css';

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.nav-button {
  text-align: center;
  padding: 20px;
  background-color: gold;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-button:hover {
  transform: scale(1.03);
  background-color: darkgoldenrod;
  transition: transform 0.2s;
  cursor: pointer;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Make the link fill the button */
  height: 100%; /* Make the link fill the button */
  text-decoration: none; /* Remove underline */
  color: BLACK; /* Set text color */

}